        body {
          background-color: #642714;
        }
/*Navbar Styling*/
        nav ul {
            list-style-type: none;
            padding: 0;
            background-color: #A0522D;
            overflow: hidden;
        }
        
        nav ul li {
            float: left;
        }
        
        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        nav ul li a:hover {
            background-color: #111;
        }

        /*Container Styling*/
        #searchContainer {
            padding: 20px;
            text-align: center;
        }
        
        #resultsContainer, #bookshelfContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }
        
        .bookCard {
            border: 5px solid red;
            padding: 5px;
            margin: 5px;
            width: 200px;
            text-align: center;
        }
        
        .bookCard img {
            max-width: 100%;
        }
