body {
        background-color: #642714;
        margin: 0;
        padding: 0;
}
/*Navbar Styling*/
nav ul {
        list-style-type: none;
        padding: 0;
        background-color: red;
        overflow: hidden;
        display: flex;
        justify-content: center;
}
        
nav ul li {
            float: left;
}
        
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
        
nav ul li a:hover {
        background-color: #111;
}

/*Pagination Styling*/
.pageNum {
    display: inline-block;
    margin: 0 5px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #333;
    color: #ddd;
    border-radius: 5px;
}

.pageNum:hover {
    background-color: #ddd;
}

.pageNum.active {
    background-color: red;
    color: #ddd;
}


        /*Container Styling*/
      #searchContainer, #resultsContainer, #bookshelfContainer, #paginationContainer, #bookshelf-title {
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

#searchContainer h1, #bookDetailsContainer h1, #bookshelf-title h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #d26d62;
}

#searchContainer p, #bookDetailsContainer p, #bookshelf-title p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

#keyTerm {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2c2c2c;
    color: #f5f5f5;
}

#searchButton, .toggle-view-button {
    padding: 10px 20px;
    background-color: #d26d62;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#searchButton:hover, .toggle-view-button:hover {
    background-color: #c0392b;
}

#resultsContainer.grid-view, #bookshelfContainer.grid-view {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

#resultsContainer.list-view, #bookshelfContainer.list-view {
    display: block;
}
        .bookCard {
            border: 5px black;
            padding: 5px;
            margin: 5px;
            width: 200px;
            text-align: center;
        }
        
        .bookCard img {
            max-width: 100%;
        }
